body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: whitesmoke;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0ac1ea;
    color: whitesmoke;
    padding: 8px;
}

h1 {
    margin: 0.4;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: whitesmoke;
    text-decoration: none;
}

.contact-form {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #0ac1ea;
}

.contact-form form input,
.contact-form form textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;

}

.contact-form form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #0ac1ea;
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form form button:hover {
    background-color: #007ea3;
}

footer {
    background-color: #333;
    color: whitesmoke;
    text-align: center;
    padding: 20px;
}
